@import "src/shared/styles/const"

.footer
  position: fixed
  bottom: 0
  background: #fff
  height: 55px
  width: 100%
  border-top: 1px solid $g_bg

  nav
    height: 100%
    margin: 0 20px
    display: flex
    justify-content: space-between
    align-items: center