@import "src/shared/styles/const"

.piggyBank
    background: #fff
    padding: 8px 15px 14px
    margin: 20px 0
    display: flex
    justify-content: space-between

    &__text
        min-width: 140px
        display: flex
        flex-direction: column
        justify-content: space-around

    .piggy
        margin: 0 -5px -14px 0
        width: 155px

    &__hint
        height: 23px
