// Size fonts
$g_h1: 36px
$g_h2: 30px
$g_h3: 24px
$g_text_14: 14px
$g_text_18: 18px

// Size app web-version
$g_width: 414px
$g_height: 736px

// Colors
$g_bg: #E5E5E5
$g_red: #EB2000
$g_orange: #FFB200
$g_cyan: #01C3FD
$g_purple: #5417D8
$g_black: #555555